
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;                 
  height: 100vh;
  background-color: #465d7d;
  color: white;
  padding-top: 20px;
  transition: width 0.3s ease; 
  overflow: hidden;
  z-index: 1000;               
}

.sidebar:hover {
  width: 150px;
}
.nav-logo {
  width: 50px;      
  height: auto;     
  display: block;
  margin: 0 auto;   
}



.sidebar-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-links li a {
  display: block;
  padding: 12px 18px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s;
  margin-bottom: 4px;
}

.sidebar-links li a:hover,
.sidebar-links li a.active {
  background-color: #3b82f6;
}
.logout-btn {
  position: absolute;     
  bottom: 30px;            
  left: 50%;             
  transform: translateX(-50%); 
  width: 80%;              
  padding: 10px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #2563eb;
}