
 .container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;          
  padding: 40px 20px;
}

.ph img {
  width: 400px;    
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
@media (max-width: 900px) {
  .container-wrapper {
    flex-direction: column;  
    text-align: center;
  }

  .ph img {
    width: 90%;        
  }
}

.contact-form-parent {
  max-width: 100%;
  background: #bac9f4;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  font-family: 'Arial', sans-serif;
}

 
.contact-form {
  max-width: 100%;
  border-radius: 12px;
  font-family: 'Arial', sans-serif;
  margin-left: 10px;
 
}


.contact-form h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #0e1e5b;
  font-size: 40px;
  font-weight: 600;
}

.contact-form p{
  text-align: center;
  color: #3f0ac5;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #1a1a1a;
}

.form-control {
  width: 90%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s;
  box-sizing: border-box;
  height: 40px;
  
}


.form-control:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

.text-danger small {
  color: #d93025;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.btn-submit {
  background-color: #4a90e2;
  color: #fff;
  font-weight: 600;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
}

.btn-submit:hover {
  background-color: #357ab8;
}
